{% extends 'base_page.html' %}

{% block style_block %}
    <style>
        li.often {
            color:green;
        }
        li.seldom {
            color:red;
        }
        span.ratio-word {
            float:right;
        }
        ol.abnormal-list {
            width:400px;
        }
    </style>
{% endblock %}

{% block body_block %}

    <div class="page-description" >
        Here is a list of words you say with an abnormal frequency. The list goes from abnormally often at the top
        to abnormally seldom at the bottom and only includes words which two other people in our dataset have also said.
    </div>

    <div>
        <ol class="abnormal-list words-list">
            {% for word in abnormal_words %}
                <li class="{% if word.often %}often{% else %}seldom{% endif %}">{{ word.word }} <span class="ratio-word">{{ word.ratio_word }}x</span></li>
            {% endfor %}
        </ol>
    </div>

{% endblock %}




