<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>HowDoISpeak</title>

    <!-- jquery -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    {% load staticfiles %}
    <script src="{% static 'common.js' %}"></script>

    {% block javascript_block %}
    {% endblock %}

    {% block style_block %}

    {% endblock %}

</head>

<body>

{% include "nav_header.html" %}

{% block body_block %}
    <p> page main! </p>
{% endblock %}

</body>