{% extends "base_page.html" %}

{% load staticfiles %}
{% block javascript_block %}
    <script src="{% static 'categories.js' %}"></script>
{% endblock %}

{% block body_block %}

    <div class="avgdata" data-json="{{ avgdata }}"></div>
    <div class="persondata" data-json="{{ persondata }}"></div>

	<div id="avgPie">
	    <p class="page-description">
            Below is a pie chart showing what percentage of the time you text about different topics.
	    </p>
	</div>
	<div id="perPerson">
		<p class="page-description">
            Choose someone from the dropdown below to see what topics you talk about with which of your friends.
	    </p>
		<select id="options">
			<option>----------</option>
		</select>
		<h3 id="person"></h3>
		<div id="perPersonPie">
		</div>
	</div>

{% endblock %}

