{% extends "base_page.html" %}

{% block style_block %}
    <style>

        body {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .line {
            fill: none;
            stroke-width: 1.5px;
        }

    </style>
{% endblock %}

{% load staticfiles %}
{% block javascript_block %}
    <script src="{% static 'frequency.js' %}"></script>
{% endblock %}

{% block body_block %}

    <div class="control-panel">
        <input type="text" class="the_word"/>
        <input type="submit" class="word_freq_calculate" value="calculate"/>
        <input type="submit" class="word_freq_clear" value="clear"/>
    </div>

    <p class="control-description abnormal_output">
        Type a word in the input and click calculate to see how often you texted the word over time (it takes like 30 seconds to compute). <br><br>Then type another word and
        it will graph it on top.
    </p>

{% endblock %}






