{% extends "base_page.html" %}

{% block style_block %}
    <style>

        body {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .x.axis path {
            display: none;
        }

        .line {
            fill: none;
            stroke-width: 1.5px;
        }

    </style>
{% endblock %}

{% load staticfiles %}
{% block javascript_block %}
    <script src="{% static 'frequency.js' %}"></script>
{% endblock %}

{% block body_block %}

    <input type="text" class="the_word"/>
    <input type="submit" class="word_freq_calculate" value="calculate"/>
    <input type="submit" class="word_freq_clear" value="clear"/>

    <p class="abnormal_output">
        enter a word in the input and click calculate to see your frequency
    </p>

{% endblock %}






