{% extends "base_page.html" %}

{% load staticfiles %}
{% block javascript_block %}
    <script src="{% static 'sentiment.js' %}"></script>
{% endblock %}

{% block style_block %}
    <style>
        rect.bordered {
            stroke: #E6E6E6;
            stroke-width:2px;
        }

        text.mono {
            font-size: 9pt;
            font-family: Consolas, courier;
            fill: rgb(247, 197, 40);
        }

        text.axis-workweek {
            fill: rgb(247, 197, 40);
        }

        text.axis-worktime {
            fill: rgb(247, 197, 40);
        }

        svg {
            display: block;
            margin: auto;
        }

        @font-face {
            font-family: 'Comix Loud';
            src: url('comic_loud.ttf');
        }

        @font-face {
            font-family: 'bob';
            src: url('BoB.ttf');
        }

        body {
            background-color: rgb(40, 40, 40);
            color: rgb(247, 197, 40);
        }

        #min_sent_by_person {
            width: 450px;
            margin: 0 auto;
            margin-top: 60px;
            margin-bottom: 50px;
        }

        h1, h2 {
            font-family: 'bob';
            line-height: 50px;
            text-align: center;
        }

        #showAll {
            height:25px;
            width:100px;
            margin: 0px -70px;
            position:relative;
            top:70%;
            left:50%;
        }

        ul {
            font-family: Arial;
            font-size: 22px;
        }

        ul {
            list-style: none
        }

        li {
            line-height: 30px;
        }
    </style>
{% endblock %}

{% block body_block %}
    <h1> Sentiment Analysis For Your Texts </h1>

    <div id="min_sent_by_person">
        <h2> Top Conversation Sentiments: </h2>
    </div>

    <div id="chart">
        <h2> Sentiment By Time of Text: </h2>

    </div>
    <br>
{% endblock %}

